<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item_list">
            <li class="main-header__item"><a class="<%= path==='szklarnia' ? 'active' : '' %>" href="/">Strona Glowna</a></li>
            <li class="main-header__item"><a class="<%= path==='dane' ? 'active' : '' %>" href="/dane">Ogólne dane</a></li>
            <li class="main-header__item"><a class="<%= path==='wykresy' ? 'active' : '' %>" href="/wykresy">Dane z wykresami</a></li>
            <li class="main-header__item"><a class="<%= path==='stream' ? 'active' : '' %>" href="/stream">Stream</a></li>
            <li class="main-header__item"><a class="<%= path==='swiatlo' ? 'active' : '' %>" href="/swiatlo">Sterowanie światłem</a></li>
        </ul>
    </nav>
</header>